{% extends 'base.html.twig' %}

{% block title %}Books index{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Books index</h1>

        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <th scope="row">{{ book.id }}</th>
                    <td>{{ book.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if books.haveToPaginate %}
        <nav
            aria-label="Books navigation"
            class="d-flex justify-content-center"
        >
            {{ pagerfanta(books) }}
        </nav>
    {% endif %}
{% endblock %}
